In [17]:
import sqlite3
con = sqlite3.connect("cow_test.db")

In [18]:
cur = con.cursor()

In [19]:
# create table
cur.execute('''CREATE TABLE stocks
            (animal_id text, date text, weight real, scales_type text)''')

In [20]:
# insert a roe of data
cur.execute("INSERT INTO stocks VALUES ('KZ01TEST', '05/21/2022', 300, 'test_sql')")

In [21]:
# save (commit) the changes
con.commit()

In [22]:
con.close()

In [ ]:
# new sqlite session

In [23]:
con = sqlite3.connect("cow.db")
cur = con.cursor()

In [26]:
for row in cur.execute('SELECT * FROM stocks ORDER BY weight'):
    print(row)

('KZ01TEST', '05/21/2022', 300, 'test_sql')

In [30]:
import time
import datetime

In [31]:
print(datetime.datetime.now())

2022-05-21 14:55:55.124839

In [ ]:
# insert a roe of data with current time and date
date_time = datetime.datetime.now()
cur.execute("INSERT INTO stocks VALUES ('KZ01TEST', date_time, 300, 'test_sql')")