# intro

In [32]:
#!/usr/bin/python
import sqlite3 as sq3
from datetime import datetime

In [33]:
cur = sq3.connect("test_cow.db")
print("Opened database successfully")

Opened database successfully

# Create Tables

In [34]:
cur.execute('''CREATE TABLE COWS
            (CASE_ID INT PRIMARY KEY        NOT NULL,
            ANIMAL_ID               TEXT    NOT NULL,
            EVENT_TIME              TEXT    NOT NULL,
            WEIGHT                  INT     NOT NULL,
            SCALES_TYPE             TEXT    NOT NULL,
            SPRAY_STATUS            TEXT    NOT NULL,
            DATA_STATUS             TEXT    NOT NULL);''')

print("Table Created successfully")
cur.close()

Table Created successfully

# Insert Operations

In [35]:
cur = sq3.connect('test_cow.db')
print("Opened database successfully")

cur.execute("INSERT INTO COWS (CASE_ID, ANIMAL_ID, EVENT_TIME, WEIGHT, SCALES_TYPE, SPRAY_STATUS, DATA_STATUS) \
    VALUES (1, 'rfid01', '25052022', 300, 'model_sql_test', 'DONE', 'NO')");

cur.execute("INSERT INTO COWS (CASE_ID, ANIMAL_ID, EVENT_TIME, WEIGHT, SCALES_TYPE, SPRAY_STATUS, DATA_STATUS) \
    VALUES (2, 'rfid02', '25052022', 340, 'model_sql_test', 'WAIT', 'YES')");

cur.execute("INSERT INTO COWS (CASE_ID, ANIMAL_ID, EVENT_TIME, WEIGHT, SCALES_TYPE, SPRAY_STATUS, DATA_STATUS) \
    VALUES (3, 'rfid02', '25052022', 290, 'model_sql_test', 'NOT', 'NO')");


cur.commit()
print("Recodrs created succesfully")
cur.close()

Opened database successfully
Recodrs created succesfully

In [37]:
conn = sq3.connect('test_cow.db')
print("Opened database successfully")

cursor = conn.execute("SELECT CASE_ID, ANIMAL_ID, EVENT_TIME, WEIGHT, SCALES_TYPE, SPRAY_STATUS, DATA_STATUS from COWS")

for row in cursor:
    print("ID = ", row[0])
    print("ANIMAL_ID = ", row[1])
    print("EVENT_TIME = ", row[2])
    print("WEIGHT = ", row[3])
    print("SCALES_TYPE = ", row[4])
    print("SPRAY_STATUS = ", row[5])
    print("DATA_STATUS = ", row[6], "\n")

print("Operation done succesfully")
conn.close()

Opened database successfully
ID =  1
ANIMAL_ID =  rfid01
EVENT_TIME =  25052022
WEIGHT =  300
SCALES_TYPE =  model_sql_test
SPRAY_STATUS =  DONE
DATA_STATUS =  NO

ID =  2
ANIMAL_ID =  rfid02
EVENT_TIME =  25052022
WEIGHT =  340
SCALES_TYPE =  model_sql_test
SPRAY_STATUS =  WAIT
DATA_STATUS =  YES

ID =  3
ANIMAL_ID =  rfid02
EVENT_TIME =  25052022
WEIGHT =  290
SCALES_TYPE =  model_sql_test
SPRAY_STATUS =  NOT
DATA_STATUS =  NO

Operation done succesfully

In [40]:
case_id = 4
animal_id = '4rfid4'
event_time = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
weight_finall = 343
scales_type = 'model_sql_dyn_var'
spray_status = 'DONE'
data_status = 'YES'

In [42]:
conn = sq3.connect('test_cow.db')
print("Opened database successfully")

conn.execute("INSERT INTO COWS (ID, ANIMAL_ID, EVENT_TIME, WEIGHT, SCALES_TYPE, SPRAY_STATUS, DATA_STATUS) VALUES(?, ?, ?, ?, ?, ?, ?)",
                                (case_id, animal_id, event_time, weight_finall, scales_type, spray_status, data_status))
conn.commit()
conn.close()

print("Operation done succesfully")
conn.close()

Opened database successfully
Operation done succesfully